<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgi.marine.dao.MenuDao">

    <!--<resultMap id="MenuBaseMap" type="com.bgi.marine.bean.Menu">-->
        <!--<id column="id" property="id" jdbcType="BIGINT"/>-->
        <!--<result column="menu_code" property="menuCode" jdbcType="VARCHAR"/>-->
        <!--<result column="menu_name" property="menuName" jdbcType="VARCHAR"/>-->
        <!--<result column="menu_type" property="menuType" jdbcType="SMALLINT"/>-->
        <!--<result column="menu_url" property="menuUrl" jdbcType="VARCHAR"/>-->
        <!--<result column="parent_menu" property="parentMenu" jdbcType="VARCHAR"/>-->
        <!--<result column="is_deleted" property="isDeleted" jdbcType="SMALLINT"/>-->
    <!--</resultMap>-->

    <insert id="create" parameterType="com.bgi.marine.bean.Menu" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO menu_info
        (
          menu_code,
          menu_name,
          menu_type,
          menu_url,
          parent_menu,
          menu_class,
          is_deleted
        )
        VALUES (
          #{menuCode},
          #{menuName},
          #{menuType},
          #{menuUrl},
          #{parentMenu},
          #{menuClass},
          #{isDeleted}
        )
    </insert>

    <!--<select id="queryByName" parameterType="java.lang.String" resultType="com.bgi.marine.bean.vo.UserVo">-->
        <!--SELECT-->
          <!--id AS id,-->
          <!--user_name AS userName,-->
          <!--nick_name AS nickName,-->
          <!--password AS password,-->
          <!--user_type AS userType-->
        <!--FROM-->
          <!--user_info-->
        <!--WHERE-->
          <!--user_name = #{userName}-->
          <!--AND is_deleted = 0-->
    <!--</select>-->

    <select id="queryAll" resultType="com.bgi.marine.bean.Menu">
        SELECT
            id AS id,
            menu_code AS menuCode,
            menu_name AS menuName,
            menu_type AS menuType,
            menu_url AS menuUrl,
            parent_menu AS parentMenu,
            menu_class AS menuClass,
            is_deleted AS isDeleted
        FROM
            menu_info
        WHERE
            is_deleted = 0
        ORDER BY
            parent_menu
    </select>
</mapper>