<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgi.marine.dao.OrganizationDao">

    <resultMap id="OrgBaseMap" type="com.bgi.marine.bean.Organization">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="organization_name" property="orgName" jdbcType="VARCHAR"/>
        <result column="organization_type" property="type" jdbcType="SMALLINT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="is_deleted" property="isDeleted" jdbcType="SMALLINT"/>
    </resultMap>

    <insert id="create" parameterType="com.bgi.marine.bean.Organization" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO organization_info
        (
          organization_name, organization_type, parent_id, is_deleted
        )
        VALUE (
          #{orgName}, #{type}, #{parentId}, 0
        )
    </insert>
    
    <select id="queryAll" resultMap="OrgBaseMap">
        SELECT
          id,
          organization_name,
          organization_type,
          parent_id,
          is_deleted
        FROM
          organization_info
        WHERE
          is_deleted = 0
    </select>

    <select id="find" parameterType="java.lang.Integer" resultMap="OrgBaseMap">
        SELECT
          id,
          organization_name,
          organization_type,
          parent_id,
          is_deleted
        FROM
          organization_info
        WHERE
          id = #{id}
    </select>
    
    <update id="update" parameterType="com.bgi.marine.bean.Organization">
        UPDATE
          organization_info
        SET
          organization_name = #{orgName}
        <if test="parentId != null and parentId != ''">
            ,parent_id = #{parentId}
        </if>
        <if test="isDeleted != null and isDeleted != ''">
            ,is_deleted = #{isDeleted}
        </if>
        WHERE
          id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        UPDATE
          organization_info
        SET
          is_deleted = 1
        WHERE
          id = #{id}
    </delete>
</mapper>